// Specific CSS for your home-page
.search-bar {
  width: 68%;
  margin: auto;
}

.v-divider {
  border-left: 1px solid lightgray;
}

#country, #checkin, #checkout, #guests, #search-btn, #country-list{
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-style: hidden;
  background-color: rgb(255, 255, 255);
  outline: none;
}

#search-btn {
  border-right-style: hidden;
}

#country {
width: 15rem;  
}

#country-list {
  width: 13rem;  

}
